.item_container {
  background-color: #DDD;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  position: relative;
}

.form {
  padding: 5px;
  display: inline-block;
}

#left-pane {
    padding: 5px;
    width: 50%;
    float: left;
}

#right-pane {
    padding: 5px;
    width: 50%;
    float: right;
}

.item_container h2, h4, p {
  width: 60%;
}

.thumbnail {
  background-color: #DDD;
  position: absolute;
  float: right;
  height: 160px;
  top: 0;
  right: 0;
  padding: 8px;
}
