.item_container {
  background-color: #DDD;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
}

.form {
  padding: 5px;
  display: inline-block;
}

#left-pane {
    padding: 5px;
    width: 50%;
    float: left;
}

#right-pane {
    padding: 5px;
    width: 50%;
    float: right;
}