<!doctype html>
<html>
<head>
  <!-- Firebase requirements (used by later imports) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css">

  <!-- First party imports in specific dependency ordering -->
  <script src="/scripts/cookies.js"></script>
  <script src="/scripts/auth_page_auth.js"></script>

  <!-- Google Fonts stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">

  <style type="text/css">
  body {
    background-color: #EAEAEA;
    font-family: 'Quicksand', sans-serif;
  }
  </style>

  <title>Propbox :: Log in</title>
</head>
<body>
  <div id="logged-out">
    <div class="logo" style="margin: 1.5em auto; width: 50%; text-align: center;">
      <img src="/image/propboxlogo_color.png" alt="Propbox" style="width: 50%;">
    </div>
    <br>
    <!-- Magic ID for firebase login UI -->
    <div id="firebaseui-auth-container"></div>
  </div>

  <div id="logged-in">
    <div class="logo" style="margin: 1.5em auto; width: 50%; text-align: center;">
      <img src="/image/propboxlogo_color.png" alt="Propbox" style="width: 50%;">
      <h1>Welcome, <span id="user"></span>!</h1>
      <h3>Please wait a moment while you are logged in...</h3>
    </div>
  </div>

</body>
</html>
