<!-- This is the home page. -->
<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="/static/common.html">

    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <script>
    $(document).ready(function(){
        SetUpNavBar(SetUpFirebase);
    });
    </script>

    <title>Prop Box</title>
</head>

<body>
  <div id="navbar_holder"></div>
  <br/>
  <div id="temp_nav_area">&nbsp;<form action='/review_edits' method='get' style="display: inline-block;"><input type='submit' value="Review Edits"></input></form>
  <form action="review_deletions" style="display: inline-block;">
      <input type="submit" value="Review Deletions">
  </form></div>
  <br/>
  <form action="search_and_browse" method="get" style="display: inline-block;">
    <input type="submit" value="Search and Browse for Items">
  </form>
  <form style="display: inline-block;" action="/add_item" method="get">
    <input type="submit" value="Add Item">
  </form>
  <br/><br/>
  <form style="display: block;" action="/create_group" method="get">
    <input type="submit" value="Create Group">
  </form>
  <form style="display: block;" action="/group_list" method="get">
    <input type="submit" value="View Group List">
  </form>
</body>
</html>
