<!doctype html>
<html>
<head>
  <link rel="import" href="/static/common.html">

  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

  <script>
    $(document).ready(function(){
      SetUpNavBar(SetUpFirebase);
    });
  </script>

  <title>Prop Box</title>
</head>

<body>
  <div id="navbar_holder"></div>
  <div id="left-pane">
    <!-- View current items -->
    <div>
      {% for item in items %}
        <div class="item_container">
          <h2>{{item.name}}</h2>
          <h4>created by : {{item.creator_id}} at {{item.updated.strftime('%I:%M:%S%p %b %d %Y')}}</h4>
          <p>{{item.description}}</p>
          <img src="view_image?entity_id={{item.key.urlsafe()}}" class="thumbnail" />
          <form action="/delete_item" method="post">
            <input type="hidden" name="item_id" value="{{item.key.urlsafe()}}">
            <input type="submit" value="delete">
          </form>
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="right-pane">
    <!-- New item form -->
    <div class="form">
        <h1> Create New Item </h1>
        <form action="/add_item" enctype="multipart/form-data" method="post">
          <input name="name" type="text" placeholder="name"><br>
          <input name="image" type="file" accept=".png"><br>
          <textarea name="description" placeholder="description"></textarea><br>
          <input type="submit" value="create">
        </form>
    </div>
  </div>
</body>
</html>
