<!doctype html>
<html>
<head>
  <link rel="import" href="/static/common.html">

  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

  <script>
    $(document).ready(function(){
      SetUpNavBar(SetUpFirebase);
    });
  </script>

  <title>Prop Box</title>
</head>

<body>
  <div id="navbar_holder"></div>
  <br/>
  <div id="temp_nav_area">&nbsp;<form action='/review_edits' method='get'><input type='submit' value="Review Edits / Deletions"></input></form></div>
  <br/>
  <div id="left-pane">
    <!-- View current items -->
    <div>
      {% for item in items %}
        <div class="item_container">
          <h2>{{item.name}}</h2>
          <h4>created by : {{item.creator_id}} at {{item.updated.strftime('%I:%M:%S%p %b %d %Y')}}</h4>
          <p>{{item.description}}</p>
          <br/>
          <p>Deleted = {{item.deleted}} and Outdated = {{item.outdated}}</p>
          <p>Parent = {{item.key.parent()}} and child = {{item.child}}</p>
          <p>Approved = {{item.approved}}</p>
          <form action="/delete_item" method="post">
            <input type="hidden" name="item_id" value="{{item.key.urlsafe()}}">
            <input type="submit" value="Delete">
          </form>
          <form action="/edit_item" method="get">
            <input type="hidden" name="item_id" value="{{item.key.urlsafe()}}">
            <input type="submit" value="Edit">
          </form>
          <form action="/revert_item" method="post">
            <input type="hidden" name="item_id" value="{{item.key.urlsafe()}}">
            <input type="submit" value="Revert To Earlier Version">
        </div>
      {% endfor %}
    </div>
  </div>

  <div id="right-pane">
    <!-- New item form -->
    <div class="form">
        <h1> Create New Item </h1>
        <form action="/add_item" method="post">
          <input name="name" type="text" placeholder="name"><br>
          <textarea name="description" placeholder="description"></textarea><br>
          <input type="submit" value="create">
        </form>
    </div>
  </div>
</body>
</html>
