<div class="item_container" id="item_{{item.key.urlsafe()}}">
    <h2>{{item.name}}</h2>
    <div style="min-width: 100%">
        {% if item.image %}
            <div class="thumbnail_container">
                <a href="view_image?image_id={{item.key.urlsafe()}}">
                <img src="view_image?image_id={{item.key.urlsafe()}}" alt="image of {{item.name}}" class="thumbnail" />
                </a>
            </div>
        {% endif %}
        <div class="item_details_container">
            <h3>{{item.item_type}}</h3>
            <h4>Created by {{item.creator_name}} at {{item.updated.strftime('%I:%M%p on %b %d, %Y').lstrip('0')}}</h4>
            <p>{{item.description}}</p>
            <p><b>Condition</b>: {{item.condition}}</p>
            <p><b>Article</b>: {{item.clothing_article_type}}</p>
            <p><b>Tags</b>:{% for tag in item.tags %} {{tag}},{% endfor %}</p>
            <p><b>Colors</b>: {% for color in item.item_color %} {{color}},{% endfor %}</p>
        </div>
    </div>
    <br/>
    <div class="item_actions">
        <form action="/item_details" method="get">
          <input type="hidden" name="item_id" value="{{item.key.urlsafe()}}">
          <button type="submit" class="submitButton"> <i class='fa fa-info-circle fa-1x' aria-hidden='true'></i> Details</button>
        </form>
        <!-- Check in and out buttons -->
        <button 
            class="submitButton check_in_button" 
            {% if item.checked_out == false %} 
                style='display: none' 
            {% endif %} 
            onclick="checkIn('{{item.key.urlsafe()}}')">
            <i class='fa fa-sign-in fa-1x' aria-hidden='true'></i> 
            Check in
            </button>
        <button 
            class="submitButton check_out_button" 
            {% if item.checked_out == true %} 
                style='display: none'
            {% endif %} 
            onclick="showCheckOutPopup('{{item.key.urlsafe()}}')">
            <i class='fa fa-sign-out fa-1x' aria-hidden='true'></i> 
            Check out
        </button>
        <div style='display: none' class="popup">
            Reason <textarea class="reason"></textarea><br>
            <button class="submitButton" onclick="checkOut('{{item.key.urlsafe()}}')"><i class="fa fa-sign-out" aria-hidden="true"></i> Check Out</button>
        </div>
        <!-- Lists add/remove button -->
        {% if lists and user.permissions != "Standard user" %}
            <div class="dropdown">
                <button onclick="toggleListSignUp('{{item.key.urlsafe()}}')" class="submitButton"><i class='fa fa-list fa-1x' aria-hidden='true'></i> Lists</button>
                <div class="list_drop_down" style='display: none'>
                    <!-- <ul> -->
                    {% for list in lists %}
                        <!-- <li> -->
                        <label> <input 
                            name="list" 
                            type="checkbox" 
                            value="{{list.key.urlsafe()}}" 
                            {% if item.key in list.items %}
                            checked 
                            {% endif %}
                            onchange="toggleListMembership(this, '{{list.key.urlsafe()}}', '{{item.key.urlsafe()}}')">  {{list.name}}</label>
                        <!-- </li> -->
                    {% endfor %}
                <!-- </ul> -->
                </div>
            </div>
        {% endif %}

    </div>



</div>