<!doctype html>
<html>
<head>
  <link rel="import" href="/static/common.html">

  <script>
    $(document).ready(function(){
      SetUpNavBar(SetUpFirebase);
    });
  </script>

  <title>Prop Box</title>
</head>

<body>
  <div id="navbar_holder"></div>
  {% for user in users %}
  <div>
  	<h4> {{user.name}} </h4>
    <form action="/manage_users" method="post">
    	<select name="permission_level">
        {% for level in permission_levels %}
          <option value="{{level}}" {% if user.permissions == level %} selected="selected" {% endif %}>{{level}}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="user_key" value="{{user.key.urlsafe()}}">
      <input type="submit" value="Update permissions">
    </form>
  </div>
  {% endfor %}
</body>
</html>
