<!doctype html>
<html>
<head>
  <link rel="import" href="/static/common.html">

  <script>
    $(document).ready(function(){
      SetUpNavBar(SetUpFirebase);
    });
  </script>

  <script type="text/javascript">
  function displayFilterCostumeForm() {
    document.getElementById("costume_specific_forms").style.display = 'block'
    setCheckboxValues("filter_by_item_type", "typeCostume");
    getCheckboxValues();
  }

  function hideFilterCostumeForm() {
    document.getElementById("costume_specific_forms").style.display = 'none'
  }

  function setCheckedRadioValues(radioListName, valueChecked) {
      var radioList = document.getElementsByName(radioListName);
      for (var i = 0; i < radioList.length; i++) {
            document.getElementById(radioList[i].id).checked = false;
      }
      document.getElementById(valueChecked).checked = true;
  }

  function setCheckboxValues(x) {
    if (typeof(Storage) !== "undefined") {
        var conditionArray = new Array();
        var articleArray = new Array();
        var costumeSizeStringArray = new Array();
        var costumeSizeNumArray = new Array();
        var tagGrouping = "groupingInclusive";
        var itemType = "All";
        var conditionList = x.filter_by_condition;
        var articleList = x.filter_by_article;
        var costumeSizeStringList = x.filter_by_costume_size_string;
        var costumeSizeNumList = x.filter_by_costume_size_number;
        var itemTypeList = document.getElementsByName("filter_by_item_type");

        for (var i = 0; i < conditionList.length; i++) {
            if (conditionList[i].checked) {
                conditionArray.push(conditionList[i].id);
            }
        }

        for (var i = 0; i < articleList.length; i++) {
            if (articleList[i].checked) {
                articleArray.push(articleList[i].id);
            }
        }

        for (var i = 0; i < costumeSizeStringList.length; i++) {
            if (costumeSizeStringList[i].checked) {
                costumeSizeStringArray.push(costumeSizeStringList[i].id);
            }
        }

        for (var i = 0; i < costumeSizeNumList.length; i++) {
            if (costumeSizeNumList[i].checked) {
                costumeSizeNumArray.push(costumeSizeNumList[i].id);
            }
        }

        if (document.getElementById("groupingExclusive").checked) {
            tagGrouping = "groupingExclusive";
        }

        for (var i = 0; i < itemTypeList.length; i++) {
            if (itemTypeList[i].checked) {
                itemType = itemTypeList[i].id;
            }
        }

        localStorage.setItem("ConditionFilter", JSON.stringify(conditionArray));
        localStorage.setItem("ArticleFilter", JSON.stringify(articleArray));
        localStorage.setItem("CostumeSizeStringFilter", JSON.stringify(costumeSizeStringArray));
        localStorage.setItem("CostumeSizeNumFilter", JSON.stringify(costumeSizeNumArray));
        localStorage.setItem("GroupingFilter", tagGrouping);
        localStorage.setItem("ItemTypeFilter", itemType);
    }
  }

  function getCheckboxValues() {
    if (typeof(Storage) !== "undefined") {
        var conditionArray = JSON.parse(localStorage.getItem("ConditionFilter"));
        var articleArray = JSON.parse(localStorage.getItem("ArticleFilter"));
        var costumeSizeStringArray = JSON.parse(localStorage.getItem("CostumeSizeStringFilter"));
        var costumeSizeNumArray = JSON.parse(localStorage.getItem("CostumeSizeNumFilter"));
        var tagGrouping = localStorage.getItem("GroupingFilter");
        var itemType = localStorage.getItem("ItemTypeFilter");

        if (conditionArray == null) {
            conditionArray = [];
        }
        if (articleArray == null) {
            articleArray = [];
        }
        if (costumeSizeStringArray == null) {
            costumeSizeStringArray = [];
        }
        if (costumeSizeNumArray == null) {
            costumeSizeNumArray = [];
        }
        if (tagGrouping == null) {
            tagGrouping = "groupingInclusive";
        }

        for (var i = 0; i < conditionArray.length; i++) {
            document.getElementById(conditionArray[i]).checked = true;
        }

        for (var i = 0; i < articleArray.length; i++) {
            document.getElementById(articleArray[i]).checked = true;
        }

        for (var i = 0; i < costumeSizeStringArray.length; i++) {
            document.getElementById(costumeSizeStringArray[i]).checked = true;
        }

        for (var i = 0; i < costumeSizeNumArray.length; i++) {
            document.getElementById(costumeSizeNumArray[i]).checked = true;
        }
        document.getElementById("result").innerHTML = tagGrouping;
        document.getElementById(tagGrouping).checked = true;
        document.getElementById(itemType).checked = true;

        if (itemType == "typeCostume") {
            displayFilterCostumeForm();
        }
    }
  }
  </script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/search_and_browse_items.css">
  <title>Prop Box</title>
</head>

<body>
  <div id="navbar_holder"></div>
  <!-- New content here -->
  <br/>
  <form action="/" method="get">
    <input type="submit" value="Home">
  </form>
  This is a page for searching and browsing for items.
      <div id="left-pane">
        <!-- View current items -->
        <div>
            {% for item in items %}
            {% if item_name_filter|lower in item.name|lower and item.deleted==False and item.outdated==False and item.orphan==False %}
            <div class="item_container">
                <h2>{{item.name}}</h2>
                <a href="view_image?image_id={{item.key.urlsafe()}}">
                <img src="view_image?image_id={{item.key.urlsafe()}}" class="thumbnail" />
                </a>
                <h3>{{item.item_type}}</h3>
                <h4>Created by {{item.creator_id}} at {{item.updated.strftime('%I:%M:%S%p %b %d %Y')}}</h4>
                <h5><b>Condition</b>: {{item.condition}}</h5>
                <p>{{item.description}}</p>
                <p>Article:{{item.clothing_article_type}}</p>
                <p>Tags:{% for tag in item.tags %} {{tag}},{% endfor %}<p>
                <p>(Deleted = {{item.deleted}}, Outdated = {{item.outdated}}, approved = {{item.approved}}.)</p>
                <form action="/item_details" method="get">
                  <input type="hidden" name="item_id" value="{{item.key.urlsafe()}}">
                  <input type="submit" value="Item Details">
                </form>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>

    <div id="right-pane">
        <form style="display: block;" action="/add_item" method="get">
            <input type="submit" value="Add Item">
        </form>
        <div><!-- <div id="right-pane"> -->
            <!-- Search form -->
            <div class="form">
                <h1> Filter items </h1>
                <form action="/search_and_browse" method="get" onsubmit="setCheckboxValues(this);">
                    <div id="result"></div>
                    <input name="filter_by_name" type="text" placeholder="name"><br>
                    <h4> Type </h4><br>
                    <input type="radio" id="typeAll" name="filter_by_item_type" value="All" checked="checked" onclick="hideFilterCostumeForm(this); setCheckboxValues('filter_by_item_type', 'typeAll');"> All<br>
                    <input type="radio" id="typeCostume" name="filter_by_item_type" value="Costume" onclick="displayFilterCostumeForm(this);"> Costume<br>
                    <input type="radio" id="typeProp" name="filter_by_item_type" value="Prop" onclick="hideFilterCostumeForm(this); setCheckboxValues('filter_by_item_type', 'typeProp');"> Prop<br>
                    <!-- Alternatively, disabled="disabled" for hiding this section? -->
                    <div id="costume_specific_forms">
                        <h4> Article </h4>
                        <input type="checkbox" id="articleTop" name="filter_by_article" value="Top" multiple="true"> Tops<br>
                        <input type="checkbox" id="articleBottom" name="filter_by_article" value="Bottom" multiple="true"> Bottoms<br>
                        <input type="checkbox" id="articleDress" name="filter_by_article" value="Dress" multiple="true"> Dresses<br>
                        <input type="checkbox" id="articleShoes" name="filter_by_article" value="Shoes" multiple="true"> Shoes<br>
                        <input type="checkbox" id="articleHat" name="filter_by_article" value="Hat" multiple="true"> Hats<br>
                        <input type="checkbox" id="articleCoat" name="filter_by_article" value="Coat/Jacket" multiple="true"> Coats/Jackets<br>
                        <input type="checkbox" id="articleOther" name="filter_by_article" value="Other" multiple="true"> Other<br>
                        <h4> Size </h4>
                        <input type="checkbox" id="sizeStringXXS" name="filter_by_costume_size_string" value="XXS" multiple="true"> XXS<br>
                        <input type="checkbox" id="sizeStringXS" name="filter_by_costume_size_string" value="XS" multiple="true"> XS<br>
                        <input type="checkbox" id="sizeStringS" name="filter_by_costume_size_string" value="S" multiple="true"> S<br>
                        <input type="checkbox" id="sizeStringM" name="filter_by_costume_size_string" value="M" multiple="true"> M<br>
                        <input type="checkbox" id="sizeStringL" name="filter_by_costume_size_string" value="L" multiple="true"> L<br>
                        <input type="checkbox" id="sizeStringXL" name="filter_by_costume_size_string" value="XL" multiple="true"> XL<br>
                        <input type="checkbox" id="sizeStringXXL" name="filter_by_costume_size_string" value="XXL" multiple="true"> XXL<br>
                        <input type="checkbox" id="sizeStringXXXL" name="filter_by_costume_size_string" value="XXXL" multiple="true"> XXXL<br>
                        <br>
                        <input type="checkbox" id="sizeNum0" name="filter_by_costume_size_number" value="0" multiple="true"> 0
                        <input type="checkbox" id="sizeNum1" name="filter_by_costume_size_number" value="1" multiple="true"> 1
                        <input type="checkbox" id="sizeNum2" name="filter_by_costume_size_number" value="2" multiple="true"> 2
                        <input type="checkbox" id="sizeNum3" name="filter_by_costume_size_number" value="3" multiple="true"> 3
                        <input type="checkbox" id="sizeNum4" name="filter_by_costume_size_number" value="4" multiple="true"> 4<br>
                        <input type="checkbox" id="sizeNum5" name="filter_by_costume_size_number" value="5" multiple="true"> 5
                        <input type="checkbox" id="sizeNum6" name="filter_by_costume_size_number" value="6" multiple="true"> 6
                        <input type="checkbox" id="sizeNum7" name="filter_by_costume_size_number" value="7" multiple="true"> 7
                        <input type="checkbox" id="sizeNum8" name="filter_by_costume_size_number" value="8" multiple="true"> 8
                        <input type="checkbox" id="sizeNum9" name="filter_by_costume_size_number" value="9" multiple="true"> 9<br>
                        <input type="checkbox" id="sizeNum10" name="filter_by_costume_size_number" value="10" multiple="true"> 10
                        <input type="checkbox" id="sizeNum11" name="filter_by_costume_size_number" value="11" multiple="true"> 11
                        <input type="checkbox" id="sizeNum12" name="filter_by_costume_size_number" value="12" multiple="true"> 12
                        <input type="checkbox" id="sizeNum13" name="filter_by_costume_size_number" value="13" multiple="true"> 13
                        <input type="checkbox" id="sizeNum14" name="filter_by_costume_size_number" value="14" multiple="true"> 14<br>
                        <input type="checkbox" id="sizeNum15" name="filter_by_costume_size_number" value="15" multiple="true"> 15
                        <input type="checkbox" id="sizeNum16" name="filter_by_costume_size_number" value="16" multiple="true"> 16
                        <input type="checkbox" id="sizeNum17" name="filter_by_costume_size_number" value="17" multiple="true"> 17
                        <input type="checkbox" id="sizeNum18" name="filter_by_costume_size_number" value="18" multiple="true"> 18
                        <input type="checkbox" id="sizeNum19" name="filter_by_costume_size_number" value="19" multiple="true"> 19<br>
                        <input type="checkbox" id="sizeNum20" name="filter_by_costume_size_number" value="20" multiple="true"> 20
                        <input type="checkbox" id="sizeNum21" name="filter_by_costume_size_number" value="21" multiple="true"> 21
                        <input type="checkbox" id="sizeNum22" name="filter_by_costume_size_number" value="22" multiple="true"> 22
                        <input type="checkbox" id="sizeNum23" name="filter_by_costume_size_number" value="23" multiple="true"> 23
                        <input type="checkbox" id="sizeNum24" name="filter_by_costume_size_number" value="24" multiple="true"> 24
                        <input type="checkbox" id="sizeNum25" name="filter_by_costume_size_number" value="25" multiple="true"> 25<br>
                    </div>
                    <h4> Condition </h4><br>
                    <input type="checkbox" id="conditionGood" name="filter_by_condition" value="Good" multiple="true"> Good<br>
                    <input type="checkbox" id="conditionFair" name="filter_by_condition" value="Fair" multiple="true"> Fair<br>
                    <input type="checkbox" id="conditionPoor" name="filter_by_condition" value="Poor" multiple="true"> Poor<br>
                    <input type="checkbox" id="conditionRepair" name="filter_by_condition" value="Being Repaired" multiple="true"> Being Repaired<br>

                    <h4> Tags </h4><br>
                    <textarea name="filter_by_tags" placeholder="separate tags with enter key"></textarea><br>
                    <input type="radio" id="groupingInclusive" name="filter_by_tag_grouping" value="inclusive" onclick="setCheckedRadioValues(filter_by_tag_grouping, groupingInclusive);"> Has One of Listed<br>
                    <input type="radio" id="groupingExclusive" name="filter_by_tag_grouping" value="exclusive" onclick="setCheckedRadioValues(filter_by_tag_grouping, groupingExclusive);"> Has All of Listed<br>
                    <input type="submit" value="Search" class="submitButton">
                </form>

            </div>
        </div>
  </div>
  <script>
    getCheckboxValues();
  </script>
</body>
</html>
